* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: lightgreen !important;
}

.card {
  margin: 2%;
  /* transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1); */
  /* width: 21.25%; */
  width: 230px !important;
  /* border-radius: 12px !important; */
  float: left;
}



.navbar {
  background-color: blueviolet;
}

.navbar h6 {
  color: white;
}



/* .card {
  width: 230px !important;
  height: auto;
  background-color: lightblue !important;
} */

.card img {
  height: 150px !important;
  width: auto !important;
  transition: 0.3s ease-in;
  /* border-bottom-left-radius: 40px;
  border-top-right-radius: 40px; */
}

.card img:hover {
  height: 150px !important;
  width: auto !important;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
}

.cart {
  height: 260px !important;
  width: 80px;
  background-color: rgb(157, 156, 156);
}

.navbar h4 {
  color: white;
  margin-top: -3px;
  text-decoration: underline transparent;
}